<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
<h1>Crear cuenta</h1>

<form th:action="@{/registro}" th:object="${usuario}" method="post">
    <label>Nombre:
        <input type="text" th:field="*{nombre}" />
    </label>
    <span th:if="${#fields.hasErrors('nombre')}"
          th:errors="*{nombre}" style="color:red"></span><br/>

    <label>Correo:
        <input type="email" th:field="*{email}" />
    </label>
    <span th:if="${#fields.hasErrors('email')}"
          th:errors="*{email}" style="color:red"></span><br/>

    <label>Contraseña:
        <input type="password" th:field="*{contrasenia}" />
    </label><br/>

    <button type="submit">Registrarse</button>
</form>

<a th:href="@{/login}">¿Ya tiene cuenta? Iniciar sesión</a>
</body>
</html>